@using Enums
@using Validation


<EditForm Model="Customers" OnValidSubmit="Send" @onreset="ShowAlertCleanData" class="row justify-content-evenly">
    <FluentValidator Validator="Form1Validator"></FluentValidator>
    <div class="row justify-content-end">
        <div class="col-md-6 mb-4 text-end">
            <button type="reset" class="btn btn-outline-light shadow rounded text-muted"><i class="bi bi-arrow-repeat"> </i> Limpiar campos</button>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="form-floating">
            <InputText class="form-control" id="name"
                       placeholder="Nombre"
                       @bind-Value="Customers.Name" />
            <label for="name" class="form-label fs-6 fst-italic text-black-50">Nombre <strong>*</strong></label>
            <strong> <ValidationMessage For="() => Customers.Name"></ValidationMessage></strong>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="form-floating">
            <InputText class="form-control" id="secondName"
                       placeholder="Segundo Nombre"
                       @bind-Value="Customers.SecondName" />
            <label for="secondName" class="form-label fs-6 fst-italic text-black-50">Segundo Nombre</label>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="form-floating">
            <InputText class="form-control" id="firstLastName"
                       placeholder="Apellido Paterno"
                       @bind-Value="Customers.FirstLastName" />
            <label for="firstLastName" class="form-label fs-6 fst-italic text-black-50">Apellido Paterno <strong>*</strong></label>
            <strong> <ValidationMessage For="() => Customers.FirstLastName"></ValidationMessage></strong>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="form-floating">
            <InputText class="form-control" id="secondLastName"
                       placeholder="Apellido Paterno"
                       @bind-Value="Customers.SecondLastName" />
            <label for="secondLastName" class="form-label fs-6 fst-italic text-black-50">Apellido Materno <strong>*</strong></label>
            <strong> <ValidationMessage For="() => Customers.SecondLastName"></ValidationMessage></strong>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="form-floating">
            <InputText class="form-control" id="rfc"
                       placeholder="RFC"
                       @bind-Value="Customers.RFC" />
            <label for="rfc" class="form-label fs-6 fst-italic text-black-50">RFC <strong>*</strong></label>
            <strong> <ValidationMessage For="() => Customers.RFC"></ValidationMessage></strong>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="form-floating">
            <InputSelect class="form-select" id="genderType"
                         placeholder="Genero"
                         @bind-Value="Customers.GenderType">
                <option selected disabled value="0">Seleccione..</option>
                <option value="@(GenderType.Male)">Masculino </option>
                <option value="@(GenderType.Female)">Femenino </option>
            </InputSelect>
            <label for="genderType" class="form-label fs-6 fst-italic text-black-50">Genero <strong>*</strong></label>
            <strong> <ValidationMessage For="() => Customers.GenderType"></ValidationMessage></strong>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="form-floating">
            <InputText class="form-control" id="email"
                       placeholder="Correo"
                       @bind-Value="Customers.Email" />
            <label for="email" class="form-label fs-6 fst-italic text-black-50">Correo <strong>*</strong></label>
            <strong> <ValidationMessage For="() => Customers.Email"></ValidationMessage></strong>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="form-floating">
            <InputText class="form-control" id="domicilio"
                       placeholder="Domicilio"
                       @bind-Value="Customers.Address" />
            <label for="domicilio" class="form-label fs-6 fst-italic text-black-50">Domicilio <strong>*</strong></label>
            <strong> <ValidationMessage For="() => Customers.Address"></ValidationMessage></strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary shadow mb-3 rounded"> <i class="bi bi-sd-card-fill"> </i> Guardar</button>
        </div>
    </div>
</EditForm>