@page "/"

<PageTitle>Dashboard</PageTitle>
<br />
<div class="row mb-5">
    <div class="col-xl-3 col-md-6 col-sm-12">
        <CardComponent></CardComponent>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
        <CardComponent></CardComponent>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
        <CardComponent></CardComponent>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
        <CardComponent></CardComponent>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 col-md-12">
        <CardComponent Class_mb="5" Title="Gráfica de Clientes">
            <hr />
            <canvas id="myChart" width="400" height="400"></canvas>
        </CardComponent>
    </div>
    <div class="col-xl-6 col-md-12">
        <CardComponent Class_mb="5" Title="Gráfica de Clientes">
            <hr />
            <canvas id="myChart3" width="400" height="400"></canvas>
        </CardComponent>
    </div>
</div>