<div id="spinnerLoad" class="cargandospinner" style="@StyleSpinner">
    <div align="center" class="position-absolute top-50 start-50 translate-middle">
        <div class="cssload-container">
            <div class="cssload-zenith"></div>
        </div>
         <strong>espere un momento...</strong> 
    </div>
</div>